<div class="container-fluid d-flex align-items-center justify-content-center bg-dark">
    <footer>
      <div class="p-2 m-auto"> 
        <div class="row pt-5">     
          <div class="col">
          <a href="#" target="_blank"><i class="fab fa-facebook" style="font-size:36px"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fab fa-youtube" style="font-size:36px"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fab fa-twitter" style="font-size:36px"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fab fa-skype" style="font-size:36px"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fab fa-linkedin" style="font-size:36px"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fab fa-instagram" style="font-size:36px" aria-hidden="true"></i></a>
          </div>
        </div> 
        <div class="footer text-center py-4">
            <h4 style="color: rgb(96,162,206);">copyright &copy; 2022 kwepo| Galleria</h4>
        </div>
      </div>                 
    </footer>
</div>
